In [1]:
import pandas as pd

In [2]:
rest_df = pd.read_pickle('dataframes.pk1')

print(rest_df.shape)

(40000, 178)

In [4]:
# TESTING HOW MANY ROWS HAVE DATA IN 583 COLUMN:

list583 = []
trash = []

for idx, d in rest_df['583'].iteritems():
    str_idx = str(idx)
    # print(str(d))
    if d == 'MISSING':
        trash.append(d)
    else:
        list583.append(d)

print('Found '+ str(len(list583)) + ' MARC 583 fields with info.')

Found 149 MARC 583 fields with info.

In [5]:
# LOTS OF CONVOLUTED LOOPS TO FIND THE 583 DATA AND ADD IT TO A DICTIONARY WITH A FOUND AND PARSED HTID AS KEY:

list583 = []

dict583 = {}
no_htid = 0

# If you want to test this without running the whole thing, can use this for loop:
#        for idx, r in dataframes.head(10000).iterrows():

for idx, r in rest_df.iterrows():
    # 583 field is callable via r['583']
    htid = eval(r['974'])
    # print(type(htid))
    # print(htid)
    if r['583'] == 'MISSING':
#         for i in htid:
#             htid_only = i.get('u')
#             # print(i)
#             print(htid_only)
        continue
    else:
        d = eval(r['583'])
        # print(f"This is d: {d}")
        # print(f"d is type {type(d)}")
        for i in htid:
            # print(f"This is i: {i}")
            # print(type(i))
            htid_only = i.get('u')
            # print(f"This is HTID: {htid_only}")
            if htid_only != None:
                if htid_only in dict583:
                    dict583[htid_only].append(d)
                else:
                    dict583[htid_only]= d
            else:
#                 print(htid_only)
#                 print(d)
                if 'Unknown' in dict583:
                    dict583['Unknown'].append(d)
                else:
                    dict583['Unknown'] = d
                no_htid += 1
                
print(f"{no_htid} rows had 583 data, but no HTID")
print(f"Added {len(dict583)} items to dict583")

1385 rows had 583 data, but no HTID
Added 150 items to dict583

In [6]:
print(len(dict583))

150

In [7]:
# WRITING THE GENERATED DICTIONARY WITH {HTID:[583 DATA]} TO A NEW FILE, ONE HTID PER LINE

with open("restricted-583.txt", "w") as f: # CHANGE FILE NAME EACH TIME THIS RUNS
    for i in dict583:
        # print(f"This is k: {i}")
        # print(dict583[i])
        f.write(str(i) + '\t' + str(dict583[i]) + '\n')

In [38]:
pd.read_csv?

In [11]:
cols = ['HTID','583 field']

df583 = pd.read_csv('restricted-583.txt', names=cols, sep='\t', lineterminator='\n')

print(df583.shape)
df583.head(10)

(150, 2)

,HTID,583 field
0,Unknown,"[{'3': 'Rubenstein Library copy'}, {'a': 'form..."
1,dul1.ark:/13960/t4sj8nb6t,"[{'3': 'Rubenstein Library copy'}, {'a': 'form..."
2,gri.ark:/13960/t3vt1kn2j,"[{'a': 'Sloan candidate'}, {'k': 'lp'}, {'l': ..."
3,yale.39002005891255,"[{'a': 'will reformat'}, {'c': '09-12-90'}]"
4,dul1.ark:/13960/t1ng5q78c,"[{'3': 'Rubenstein Library copy'}, {'a': 'form..."
5,yale.39002004114386,"[{'a': 'will reformat'}, {'c': '07-16-90'}]"
6,yale.39002006063011,"[{'a': 'will reformat'}, {'c': '07-16-90'}]"
7,yale.39002013254553,"[{'a': 'will reformat'}, {'c': '07-16-90'}]"
8,yale.39002013254488,"[{'a': 'will reformat'}, {'c': '07-16-90'}]"
9,yale.39002004114394,"[{'a': 'will reformat'}, {'c': '07-16-90'}]"